terraform/modules/mstr-environment/definitions/mstr-stack-destroy.json
{
    "Comment": "Workflow for destroying a MSTR stack",
    "StartAt": "Destroy Stack",
    "States": {
        "Destroy Stack": {
            "Comment": "Call the MSTR API to destroy the stack",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${MSTR_ENVIRONMENT_LAMBDA_ARN}",
                "Payload": {
                    "httpMethod": "DELETE",
                    "body": {
                        "env_id.$": "$.envId"
                    }
                }
            },
            "ResultPath": "$.results.destroyStack",
            "OutputPath": "$",
            "Next": "Destroy Complete?",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Workflow Failed"
                }
            ]
        },
        "Destroy Complete?": {
            "Comment": "Keep polling for status of MSTR stack until ready or there is a timeout",
            "Type": "Task",
            "Resource": "${MSTR_STACK_STATUS_LAMBDA_ARN}",
            "InputPath": "$.results.destroyStack.Payload",
            "OutputPath": "$",
            "ResultPath": "$.results.stackStatus",
            "Retry": [
                {
                    "ErrorEquals": [
                        "StackNotReadyError"
                    ],
                    "IntervalSeconds": 60,
                    "MaxAttempts": 60,
                    "BackoffRate": 1
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Workflow Failed"
                }
            ],
            "Next": "Workflow Succeeded"
        },
        "Workflow Failed": {
            "Type": "Fail",
            "Cause": "Workflow failed",
            "Error": "See execution logs"
        },
        "Workflow Succeeded": {
            "Type": "Pass",
            "InputPath": "$",
            "OutputPath": "$.results.destroyStack.Payload",
            "End": true
        }
    }
}