terraform/modules/mstr-environment/definitions/mstr-environment-destroy.json
{
    "Comment": "Workflow for deprovisioning of MSTR stack and related infrastructure",
    "StartAt": "Destroy Additional Resources",
    "States": {
        "Destroy Additional Resources": {
            "Comment": "Destroy additional infrastructure as required",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${TF_RUNNER_LAMBDA_ARN}",
                "Payload": {
                    "httpMethod": "DELETE",
                    "body": {
                        "tf_source_bucket": "${TF_SOURCE_BUCKET}",
                        "tf_source_key": "${TF_SOURCE_KEY}",
                        "tf_vars": {
                            "env_prefix": "${ENV_PREFIX}",
                            "env_id.$": "$.envId",
                            "env_name": "NA",
                            "app_elb_path": "NA",
                            "opa_release_sns_topic_arn": "${OPA_RELEASE_SNS_TOPIC_ARN}",
                            "vpc_id": "${VPC_ID}"
                        }
                    }
                }
            },
            "ResultPath": null,
            "OutputPath": "$",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Workflow Failed"
                }
            ],
            "Next": "Destroy Stack"
        },
        "Destroy Stack": {
            "Comment": "Execute MSTR stack workflow (to destroy)",
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync",
            "Parameters": {
                "StateMachineArn": "${MSTR_STACK_DESTROY_SFN_ARN}",
                "Input": {
                    "NeedCallback": false,
                    "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
                    "envId.$": "$.envId"
                }
            },
            "OutputPath": "$",
            "ResultPath": "$.results.stackWorkflow",
            "Next": "Workflow Succeeded"
        },
        "Workflow Failed": {
            "Type": "Fail",
            "Cause": "Workflow failed",
            "Error": "See execution logs"
        },
        "Workflow Succeeded": {
            "Comment": "Upon workflow completion, output the env_id for the destroyed stack",
            "Type": "Pass",
            "InputPath": "$",
            "OutputPath": "$.results.stackWorkflow.Output",
            "End": true
        }
    }
}