terraform/modules/mstr-environment/definitions/mstr-environment-create.json
{
    "Comment": "Workflow for provisioning of MSTR stack and related infrastructure",
    "StartAt": "Create Stack",
    "States": {
        "Create Stack": {
            "Comment": "Execute MSTR stack workflow",
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync",
            "Parameters": {
                "StateMachineArn": "${MSTR_STACK_CREATE_SFN_ARN}",
                "Input": {
                    "NeedCallback": false,
                    "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id",
                    "environmentName.$": "$.environmentName",
                    "environmentType.$": "$.environmentType",
                    "platformInstanceType.$": "$.platformInstanceType",
                    "rdsInstanceType.$": "$.rdsInstanceType",
                    "mstrBakS3BucketLocation.$": "$.backupUrl",
                    "mstrVersion.$": "$.mstrVersion"
                }
            },
            "OutputPath": "$",
            "ResultPath": "$.results.stackWorkflow",
            "Next": "Create Additional Resources"
        },
        "Create Additional Resources": {
            "Comment": "Create additional infrastructure as required",
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${TF_RUNNER_LAMBDA_ARN}",
                "Payload": {
                    "httpMethod": "POST",
                    "body": {
                        "tf_source_bucket": "${TF_SOURCE_BUCKET}",
                        "tf_source_key": "${TF_SOURCE_KEY}",
                        "tf_vars": {
                            "env_prefix": "${ENV_PREFIX}",
                            "env_id.$": "$.results.stackWorkflow.Output",
                            "env_name.$": "$.environmentName",
                            "app_elb_path.$": "$.appElbPath",
                            "opa_release_sns_topic_arn": "${OPA_RELEASE_SNS_TOPIC_ARN}",
                            "vpc_id": "${VPC_ID}",
                            "create_listener_rule": "false",
                            "create_dummy_okta_secrets": "true"
                        }
                    }
                }
            },
            "ResultPath": null,
            "OutputPath": "$",
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Workflow Failed"
                }
            ],
            "Next": "Workflow Succeeded"
        },
        "Workflow Failed": {
            "Type": "Fail",
            "Cause": "Workflow failed",
            "Error": "See execution logs"
        },
        "Workflow Succeeded": {
            "Comment": "Upon workflow completion, output the env_id for the newly created stack",
            "Type": "Pass",
            "InputPath": "$",
            "OutputPath": "$.results.stackWorkflow.Output",
            "End": true
        }
    }
}